h5.selected {
  border: 2px;
  border-style: solid;
  border-color:blue;
}
h3.selected {
  border: 2px;
  border-style: solid;
  border-color:brown;
}
h5.hovered {
  border: 2px;
  border-style: solid;
  border-color:green;
}
h3.hovered {
  border: 2px;
  border-style: solid;
  border-color:green;
}
